.sidebar {
    position: relative; 
}

.sidebar a {
    width: 12.8rem;
    margin: auto;
    border-radius: 0.5rem;
    height: 50px;
    position: relative; 
    display: flex;
    align-items: center; 
    padding-left: 1rem; 
}

.sidebar a.active::before {
    content: "";
    width: 9px;
    height: 50px;
    background: #4880FF;
    border-radius: 5px;
    position: absolute;
    left: -30px; 
    top: 0;
    bottom: 0;
}

.sidebar a.active span {
    color: white;
}

.sidebar a.active {
    background-color: #4880FF;
}

.sidebar a:hover {
    background-color: #4880FF;
}

.sidebar a:hover span,
.sidebar a:hover img {
    color: white;
    filter: brightness(0) invert(1);
}

.setting {
    color: #202224;
}
.content {
    background-color: #F5F6FA;
}